In [11]:
import pandas as pd
import quandl
import math

In [3]:
df = quandl.get('WIKI/GOOGL')

In [4]:
print(df.head())

              Open    High     Low    Close      Volume  Ex-Dividend  \
Date
2004-08-19  100.01  104.06   95.96  100.335  44659000.0          0.0
2004-08-20  101.01  109.08  100.50  108.310  22834300.0          0.0
2004-08-23  110.76  113.48  109.05  109.400  18256100.0          0.0
2004-08-24  111.24  111.60  103.57  104.870  15247300.0          0.0
2004-08-25  104.76  108.00  103.88  106.000   9188600.0          0.0

            Split Ratio  Adj. Open  Adj. High   Adj. Low  Adj. Close  \
Date
2004-08-19          1.0  50.159839  52.191109  48.128568   50.322842
2004-08-20          1.0  50.661387  54.708881  50.405597   54.322689
2004-08-23          1.0  55.551482  56.915693  54.693835   54.869377
2004-08-24          1.0  55.792225  55.972783  51.945350   52.597363
2004-08-25          1.0  52.542193  54.167209  52.100830   53.164113

            Adj. Volume
Date
2004-08-19   44659000.0
2004-08-20   22834300.0
2004-08-23   18256100.0
2004-08-24   15247300.0
2004-08-25    9188600.0

In [5]:
df = df[['Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume']]

In [6]:
df.head()

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0
2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0
2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0
2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0
2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0

In [7]:
df['PCT_HL'] = (df['Adj. High'] - df['Adj. Low'])/df['Adj. Low'] *100
df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open'])/df['Adj. Open'] *100

In [8]:
df = df[['Adj. Close', 'PCT_HL', 'PCT_change', 'Adj. Volume']]

In [9]:
df.head()

            Adj. Close    PCT_HL  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  8.441017    0.324968   44659000.0
2004-08-20   54.322689  8.537313    7.227007   22834300.0
2004-08-23   54.869377  4.062357   -1.227880   18256100.0
2004-08-24   52.597363  7.753210   -5.726357   15247300.0
2004-08-25   53.164113  3.966115    1.183658    9188600.0

In [10]:
forecast_col = 'Adj. Close'
df.fillna(-99999,inplace=True) # Replace NA with -99999 in data

In [12]:
forecast_out = int(math.ceil(0.01*len(df))) 
forecast_out

35

In [15]:
# The label coloumn for each row will be the Adj. Close price
# .. 35 days? into the future
df['label'] = df[forecast_col].shift(-forecast_out)
df.head()

            Adj. Close    PCT_HL  PCT_change  Adj. Volume      label
Date
2004-08-19   50.322842  8.441017    0.324968   44659000.0  69.078238
2004-08-20   54.322689  8.537313    7.227007   22834300.0  67.839414
2004-08-23   54.869377  4.062357   -1.227880   18256100.0  68.912727
2004-08-24   52.597363  7.753210   -5.726357   15247300.0  70.668146
2004-08-25   53.164113  3.966115    1.183658    9188600.0  71.219849

In [17]:
df.dropna(inplace=True)
df.tail()

            Adj. Close    PCT_HL  PCT_change  Adj. Volume    label
Date
2017-12-07     1044.57  1.309689    0.820408    1437448.0  1177.37
2017-12-08     1049.38  1.009695   -0.231030    1479665.0  1182.22
2017-12-11     1051.97  1.137800    0.081818    1096997.0  1181.59
2017-12-12     1048.77  1.687291   -0.117143    1684977.0  1119.20
2017-12-13     1051.39  0.850389   -0.065584    1369580.0  1068.76